$size: 20px;
$fondo-de-color: rgb(195, 55, 157);
$ancho: 100%;
$blue: #4285f4;
$green: rgb(7, 179, 1);
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;