/*@import "../variables/variables";

body {
    @if $vista==desktop {
        @media only screen and(max-widht: 1024px) {
            h1 {
                font-size: $h1Desktop;
            }
            h3{
                font-size: 35px;
            }
            p{
                font-size:$parrafoDesktop
            }
        }

    }
}*/